/*Header y navs*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.916),
        rgba(0, 0, 0, 0.8)
       ),  
  url(/img/PizzaMuzzaFondo.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
}
header{
    background-color:rgba(37, 36, 36, 0.92);
    min-height: 180px;      
}
/* font-family: 'Aclonica', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'B612', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Londrina Solid', cursive; */
.logorotiseria{
    height: 130px;
    width: 130px;
}


.contDireccion{
    display: flex;
    justify-content: space-between; 
    

  }

.rrss{
    font-size: 22px;
    padding: 3px 10px;
}
.rrss>a{
    padding: 2px;
}
.DireccionCabecera{
    color: white;
    font-family: 'Aclonica', sans-serif;
    font-size: 13px;
    padding: 7px 8px 0px;
   
}

@media only screen and (min-width:280px) and (max-width:400px){
    .DireccionCabecera{
        font-size: 12px;
        padding: 6px;
    }
    .rrss{
        font-size: 19px;
        padding-right: 10px;
    }

}
.navbar{
    background-color: rgb(58, 57, 57);
    box-shadow: 7px 15px 8px 2px rgba(0, 0, 0, 0.263); 
   
    
}
.nav-link{
    font-size:23px;
    color: white;
    padding: 10px;
    font-family: 'Londrina Solid', cursive;
}


.nav-link:hover{
    color: lightcoral;
}

.icoHead2,.icoHead1{
    color:white;
}


.icoHead1:hover{
    color: rgb(0, 89, 255);
}

.icoHead2:hover{
    color: rgb(0, 179, 0);
}

.cont-logo{
    display:flex;
    justify-content: center;

}

/*Fin de header y navs*/

/*Seccion de inicio*/
#Inicio{
  min-height: 100vh;
  padding: 85px 0px;
  background-attachment: fixed;
  
}


#Inicio>h2{
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 42px;
    text-shadow: 4px 2px 4px rgba(199, 42, 42, 0.845);
}
#Inicio>#titulopedido{
    color: white;
    margin: 6px 0px 23px;
}
#titulopedido>p,.contNumero>p,.nroTelefono>p{
    font-family: 'Aldrich', sans-serif;
    display: inline;
    padding: 0 3px;
    
}
.pedidoSubtitle>a{
    color:red;
}

.contNumero{
    margin-top: 20px;
}
.btnCont{
    margin: 2px 10px;
}

.btnCont>button{
    background-color: #b82609;
    border-radius: 20px;
    border: 1px solid rgb(246, 145, 134);
    font-size: 22px;
    padding: 2px 15px;
    margin: 4px 0px 0px;
    color: white;
    font-family: 'Aclonica', sans-serif;
}

.btnCont>button:hover{
    background-color: rgb(112, 7, 7);
    transition:background-color 1.3s;
}
.nroTelefono>.fa-phone,.fa-clock{
    color: #858383;
    font-size: 20px;
}
.fa-clock{
    padding: 0px 3px 0px 0px;
    font-size:20px
}
.nroTelefono>.fa-whatsapp{
    color: rgb(222, 247, 222);
    background-color: green;
    border-radius: 58px;
    font-size: 21px;    
}
#titulopedido>h4{
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
}
h4>a{
    text-decoration: none;
}
.arrow-up{
    color: white;
    font-size: 30px;
    background-color:rgb(10, 10, 10);
    border-radius: 100%;
    border: 1px solid rgb(105, 101, 101);
    width: 40px;
    height: 34px;
    text-align: center;
    box-shadow:4px 3px 3px #00000063;
}
.cont-arrow-up{
    padding:0px 20px;
    position: fixed;
    z-index: 1;
    
}
.cont-upfix{  
    display: flex;
    justify-content:flex-end;
    
}

/*Fin Seccion de inicio*/


/*Inicio Cards*/
#CardSeccion{
    padding: 150px 10px;
    min-height: 100vh;
}



.card-body{
    color: white;
    border-radius: 24px;
}

#CardSeccion>h3{
    color:white;
    text-align: center;
    margin:0px 0px 30px 0px;
    font-size: 34px;
    font-family: 'Holtwood One SC', serif;
}
h5{
    text-align: center;
    margin:0px 0px 10px 0px;
    
}

.subtitulo{
    font-family: 'Holtwood One SC', serif;
    color: white;
}

.linkpedido{
    color:  rgb(232, 69, 69);
    text-decoration: none;
}
.linkpedido:hover{
    color: rgb(216, 135, 135);
}
.card{
    border-radius: 24px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    background-color:rgb(39, 39, 39);
    border: 1px solid white;
    margin: 9px 0px;

}
.card>img{
    border-radius: 25px;
    width:340px;
}

.card:hover{
    transform: scale(1.08);
    box-shadow:20px 30px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color:grey;
    

}
.contCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 18px;
    flex-direction: row;
}


/*Fin de seccion Cards*/

/* Inicio de seccion nosotros */

.card-direccion>.fa-sharp,.card-direccion>.fa-phone{
    font-size: 30px;
    padding: 20px;
    margin: 20px 0px;
    color: white;
}
.card-direccion>p,.card-direccion>h6{
    color: white;
    text-align: center;   
}
.card-direccion>p{
    font-size: 16px;
}
.card-direccion>h6{
    font-size: 25px;
    padding-top: 10px;
}

.cont-row{
    background-color:  #250f0f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-direccion{
    border: 1px solid #76545460;
    border-radius: 5px;
    margin: 45px 7px;
    padding:18px 20px;
    min-height: 520px;
    
}
.btn-call>a{
    display: inline;
    background-color: #851111;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 172, 172);
    padding:10px 6px;
}
.btn-call>a:hover{
    background-color: rgb(206, 82, 60);
    color: white;
}
.btn-cont>.fa-phone,.btn-cont>.fa-whatsapp{
    font-size: 18px;
}
.btn-call>.fa-phone{
    color: #a8a0a0;
}
.btn-cont>.fa-whatsapp{
    color: rgb(255, 255, 255);
    background-color: green;
    border-radius:10px;
}
.btn-call{
    text-align: center;
    margin: 100px 0px 0px;
  
}
.btn-subcall{
    text-decoration: none;
    font-family: 'B612', sans-serif;
    color: white;
    padding: 5px;

}
iframe{
    border:5px solid #848181 !important;
    border-radius: 15px;
}
#Nosotros{
    background-color: #250f0f;
}
/* Fin de seccion nosotros */

/* Seccion contacto */
#Contact{
    padding:40px 0px;
    background-color: #160101f1;
}
#Contact>h3{
    color: white;
    padding: 20px;
    text-align: center;
}
.cont-form{
    display: flex;
    justify-content: center;
}
form{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ba1c1c' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 25px 110px;
    border-radius: 10px;
    border: 1px solid grey;
}
.btn-submit{
    padding: 10px;
    margin: 13px 0px 8px;
    background-color: #011803;
    color: white;
    border-radius: 1px;
    width: 100%;
    border:1px solid grey;
    font-weight: bold;
    font-family: sans-serif;
}
label{
    display:block;
    padding: 4px;
    color: white;
    font-family: 'B612', sans-serif;
    letter-spacing: 2px;
    padding: 10px 0px;
}
fieldset>input{
    width: 100%;
    background-color:transparent;
    color: white;
    border-style: none;
    border-bottom: 1px solid white;

}

/*Fin Seccion contacto */


/*Inicio de footer*/

footer{
    margin:0px 0px 0px;
    padding: 30px;
    background-color: #140000;
 
    font-size: 23px;
}
.copyright>p{
    margin:0;
    color: white;
    font-size: 15px;
}
.nombreFooter>a{
    text-decoration: none;
    color: #c57878;
}
.nombreFooter>a:hover{
    color: #e77171e9;
}
.rrss-footer{
    font-size:30px;
    margin: 20px;
}
.rrss-footer,.copyright{
    text-align: center;
}
.link-footer>.icoHead1,.link-footer>.icoHead2{
    padding: 10px;
}
.nav-link-footer{
    display: inline-block;
    width: 70px;
    
}
.nav-link-footer>a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: 'Londrina Solid', cursive;
}
.cont-logo-footer{
    margin: 30px;
}

/*Fin de footer*/

#Nosotros,#Contact{
    border-top: 1px solid rgb(44, 44, 44);
}
/* Media Celular  */
@media only screen and (min-width:280px) and (max-width:400px){
    #Inicio{
        min-height: 550px;
        padding-top:110px;
    }
    .nroTelefono>.fa-phone,.fa-clock,.nroTelefono>.fa-whatsapp{
        font-size: 15px;
    }
    #CardSeccion>h3{
        font-size: 19px;
    }
    .subtitulo{
        font-size: 14px;
    }
    form{
        padding: 12px 18px;
    }
}
@media only screen and (min-width:1300px) {
    #Inicio{
        padding-top: 180px;
    }
    .cont-arrow-up{
        padding-top: 80px;
    }
}
@media only screen and (min-width:401px) and (max-width:600px) {
    #Inicio{
        padding-top: 200px;
    }
    
}